body {
  font-family: sans-serif;
  text-align: center;
  margin-top: 5rem;
  background: #f9f9f9;
  color: #333;
}
button {
  background: #317EFB;
  color: white;
  padding: 1rem 2rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
}